.range-cont {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
}

.range-right-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 1em;
  color: #f7f7f7;
  font-family: "Roboto Slab", serif;
}

h3 {
  font-size: calc(10px + 2vmin);
  font-family: "Roboto Slab", serif;
  color: rgb(250, 250, 250);
}
